.ModalBackdrop {
    position: fixed;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgba(126, 99, 99, 0.5);
  }
  
  .ImageModal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-height: 400px;
    max-width: 1000px;
    width: 100%;
  }
  
  .TextImage {
    position: absolute;
    padding: 8px 10px;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    color: rgb(219, 228, 237);
    background-color: rgba(0, 0, 0, 0.8);
  }
  
  .ButtonModal {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    outline: none;
    border: none;
    padding: 8px;
    color: #fff;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .ButtonModal:hover {
    transform: scale(1.1);
    color: rgb(243, 59, 18);
  }