.containerUi {
    padding-top: 10px;
    padding-bottom: 30px;
  }
  
  .ButtonLoadMore {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    margin-left: 20px;
    border: none;
    border-radius: 10px;
    width: 200px;
    height: 50px;
    background-color: #142585;
    color: #fff;
    cursor: pointer;
    text-transform: uppercase;
  }
  
  .ButtonLoadMore:hover {
    background-color: #5a6ac6;
  }
  
  .loader {
    position: absolute;
    top: 3px;
    left: 10px;
  }